html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #000;
  touch-action: pan-x pan-y pinch-zoom;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
canvas {
  display: block;
  height: 100% !important;
  width: auto !important;
  max-width: 100%;
  touch-action: pan-x pan-y pinch-zoom;
}
